<article class="item_page">
    <section class="form_wrapper">
        <form id="text_form" action="serverform" method="POST">
            <p>Start with</p>
            <textarea name="source_text" id="source_text" class="big_form_text" rows="10" cols="30" placeholder="Enter some text! It has to be at least as long as a tweet, so don't be stingy with the content!" pattern=".{140}" title="Please enter at least 140 characters." required=""/></textarea><br>
            <p> and insert </p>
            <input type="text" name="input_string" id="input_string" class="small_form_text" size="10" placeholder="[:D]" pattern="^.{1,20}$" title="Please enter a string between 1 and 20 characters." required=""/>
            <p> into it </p>
            <input type="text" name="iterations" id="iterations" class="small_form_text" size="2" placeholder="5" pattern="^0{0,}([1-9]|10)$" title="Please enter a positive whole number 0-10." required=""/>
            <p> times with </p>
            <input type="text" name="gap" id="gap" class="small_form_text" size="2" placeholder="3" pattern="^0{0,}(1{0,1}[0-9]{1}|20)$" title="Please enter a whole number between 0 and 20" required=""/><br>
            <p> characters between inserts.</p>
            {{#if serverForm}}
                <input type="submit" name="textForm" value="DO IT!" class="form_submit_button"/>
            {{/if}}
        </form>
        {{#if clientForm}}
            <button onclick="text_manip()" class="form_submit_button">DO IT!</button>
        <section id="result_text"></section>
        {{/if}}
    </section>
</article>
